@{
    ViewData["Title"] = "Sobre o projeto";
}

<div class="container">
    <img src="~/img/logo_teste.png" alt="Logomarca da empresa" width="200" height="200"> 
    <h2>@ViewData["Title"]</h2>
    <p>Pequeno projeto Web desenvolvido em C# ASP.NET MVC</p>
</div>
