@model IEnumerable<Oficina.Models.Funcionario>

@{
    Layout = "~/Views/Shared/_LayoutWithSidebar.cshtml";
    ViewData["Title"] = "Index";
}

<div class="text-center">
  <h1>Oficina Mecânica SCC</h1> 
  Bem vindo @ViewBag.FuncionarioNome!
</div>